# Node
node_modules/
dist/
coverage/

# Environment
.env
.env.*

# Java
target/
*.class
*.jar

# IntelliJ
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
logs/

# Docker
postgres-data/

# Misc
*.swp